#include <windows.h>
#include "wxlisp.h"

LEditIcon	ICON icons/LEDIT.ICO
GraphIcon	ICON icons/GRAPH.ICO
WXLSIcon	ICON icons/WXLS.ICO

GCCursor	CURSOR cursors/GC.CUR
HandCursor	CURSOR cursors/HAND.CUR
FingerCursor	CURSOR cursors/FINGER.CUR
BrushCursor	CURSOR cursors/BRUSH.CUR

MdiMenu MENU
BEGIN
#if defined(NOGRAPHICS) || defined(TESTING)
  POPUP "&File"
  BEGIN
    MENUITEM "New &Points",		IDM_NEWPOINTS
    MENUITEM "New &Lines",		IDM_NEWLINES
    MENUITEM SEPARATOR
    MENUITEM "E&xit",			IDM_EXIT
    MENUITEM "About XLISP-STAT...",	IDM_ABOUT
  END

  POPUP		"&Edit"
  BEGIN
    MENUITEM	"&Undo\tCtrl+Z",	IDM_UNDO,	GRAYED
    MENUITEM	SEPARATOR
    MENUITEM	"Cu&t\tCtrl+X",	IDM_CUT
    MENUITEM	"&Copy\tCtrl+C",	IDM_COPY
    MENUITEM	"&Paste\tCtrl+V",	IDM_PASTE
    MENUITEM	"C&lear\tDel",		IDM_CLEAR
    MENUITEM	SEPARATOR
    MENUITEM	"Copy-Paste\tAlt+V",	IDM_COPYPASTE
  END
#endif
  POPUP "&Window"
  BEGIN
    MENUITEM "&Cascade\tShift+F5",	IDM_CASCADE
    MENUITEM "&Tile\tShift+F4",		IDM_TILE
    MENUITEM "Arrange &Icons",		IDM_ARRANGE
    MENUITEM "Close &All",		IDM_CLOSEALL
  END
END

MdiAccel ACCELERATORS
BEGIN
  VK_Z,		IDM_UNDO,	VIRTKEY,	CONTROL
  VK_X,		IDM_CUT,	VIRTKEY,	CONTROL
  VK_C,		IDM_COPY,	VIRTKEY,	CONTROL
  VK_V,		IDM_PASTE,	VIRTKEY,	CONTROL
  VK_DELETE,	IDM_CLEAR,	VIRTKEY
  VK_V,		IDM_COPYPASTE,	VIRTKEY,	ALT
  VK_CANCEL,	IDM_TOPLEVEL,	VIRTKEY,	CONTROL
  VK_F5,	IDM_CASCADE,	VIRTKEY,	SHIFT
  VK_F4,	IDM_TILE,	VIRTKEY,	SHIFT
END
