#include "windows.h"
#include "lspedit.h"

#ifdef MinGW32
LEditIcon ICON LEDIT.ICO
#else
LEditIcon ICON ..\icons\LEDIT.ICO
#endif

LSPEditMenu MENU
BEGIN
  POPUP 	"&File"
  BEGIN
    MENUITEM	"&New",			IDM_NEW
    MENUITEM	"&Open...",		IDM_OPEN
    MENUITEM	"&Save",		IDM_SAVE
    MENUITEM	"Save &As...",		IDM_SAVEAS
    MENUITEM	"&Print",		IDM_PRINT,	GRAYED
    MENUITEM	SEPARATOR
    MENUITEM	"E&xit",		IDM_EXIT
    MENUITEM	"About LSPEdit...",	IDM_ABOUT
  END
  POPUP		"&Edit"
  BEGIN
    MENUITEM	"&Undo\tCtrl+Z",	IDM_UNDO,	GRAYED
    MENUITEM	SEPARATOR
    MENUITEM	"Cu&t\tCtrl+X",		IDM_CUT
    MENUITEM	"&Copy\tCtrl+C",	IDM_COPY
    MENUITEM	"&Paste\tCtrl+V",	IDM_PASTE
    MENUITEM	"C&lear\tDel",		IDM_CLEAR
    MENUITEM	SEPARATOR
    MENUITEM	"Eval Selection",	IDM_EVAL
  END
END

LSPEdit ACCELERATORS
BEGIN
  VK_Z,		IDM_UNDO,	VIRTKEY, CONTROL
  VK_X,		IDM_CUT,	VIRTKEY, CONTROL
  VK_C,		IDM_COPY,	VIRTKEY, CONTROL
  VK_V,		IDM_PASTE,	VIRTKEY, CONTROL
  VK_DELETE,	IDM_CLEAR,	VIRTKEY
END

AboutBox DIALOG 22, 17, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About LSPEdit"
BEGIN
  CTEXT "Simple Lisp File Editor",	-1, 0, 10, 144, 8
  CTEXT "Microsoft Windows", 		-1, 0, 26, 144, 8
  CTEXT "Version 3.0", 			-1, 0, 34, 144, 8
  DEFPUSHBUTTON "OK", IDOK, 53, 59, 32, 14, WS_GROUP
END

#ifndef MinGW32
Open DIALOG 10, 10, 148, 112
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Open"
BEGIN
  LTEXT "Open File &Name:", IDC_FILENAME, 4, 4, 60, 10
  EDITTEXT IDC_EDIT, 4, 16, 100, 12, ES_AUTOHSCROLL
  LTEXT "&Files in", IDC_FILES, 4, 40, 32, 10
  LISTBOX, IDC_LISTBOX, 4, 52, 70, 56, WS_TABSTOP | WS_VSCROLL
  LTEXT "", IDC_PATH, 40, 40, 100, 10
  DEFPUSHBUTTON "&Open", IDOK, 87, 60, 50, 14
  PUSHBUTTON "CANCEL", IDCANCEL, 87, 80, 50, 14
END

SaveAs DIALOG 10, 10, 180, 53
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Save As"
BEGIN
  LTEXT "Save As File &Name:",	IDC_FILENAME,  4,  4,  72, 10
  LTEXT "",			IDC_PATH,     84,  4,  92, 10
  EDITTEXT			IDC_EDIT,      4, 16, 100, 12
  DEFPUSHBUTTON	"Save",		IDOK,        120, 16,  50, 14
  PUSHBUTTON "Cancel",		IDCANCEL     120, 36,  50, 14
END
#endif
